
<form method="POST" action="/user/new">
        <input name="name" type="text">  Your name<br/>
        <input name="email" type="text">Your e-mail<br/>
        <input name="password" type="text">password<br/>
        <button type="submit"> greate </button>
      </form>
