        <form method="POST"  action="/products">
        <input name="name" type="text">name product<br/>
        <input name="price" type="text">price product<br/>
        <input name="info" type="text">info product<br/>
        <button type="submit">Greate product</button>           
      </form> 
