<!DOCTYPE HTML>
  <head> <title> My Store </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<link rel="stylesheet" type="text/css" href="style.css">
<style type="text/css">.block1 {  width: 150px;border: solid 1px black; }</style>
</head><br/><body >
<% if authorization? %>
  <div class="block1"><form method="POST" action="/user/in">
        <input size="10" required name="name" type="text">Your name<br/>
        <input size="10" required name="password" type="text">password<br/>
        <button type="submit"> Sign in </button>
        </form> 
       <a href="/user/new">New User</a></div>
<% end %>
<% if user? %>
  <div class="block1"> <%= user? %> <a href="/user/out">Sign out</a></div>
<% end %>
  <div align="center">
<%= yield %>
<a href="/">Go to Home</a> </div></body> </html>
